/* Global */
$color-white: white;
$color-black: black;
$color-gold: #ccad5e;
$font-header: 'Lobster', cursive;
$font-bald: 'Kanit', sans-serif;
$font-italic: 'Kaushan Script', cursive;
body{
margin: 0; 
font-size: 16px;  
text-align: center;
}
h1{
    font-size: 80px;
    text-shadow: $color-black 0.1em 0.1em 0.2em;
    font-family: $font-bald;
}
h2{
    font-size: 40px;
    font-family: $font-italic;
    text-shadow: $color-black 0.1em 0.1em 0.2em;
}
h3{
    font-size: 45px;
    color: $color-black;
    margin-bottom: 0;
    font-family: $font-bald;
    text-align: center;
}
h4{
    margin-top: 0;
    font-size: 16px;
}
h5{
    color: $color-black;
    font-family: $font-bald;
}
.btn{
    display: inline-block;
    min-width: 160px; 
    margin: 24px auto 0 auto;
    padding: 16px 25px;  
    font-size: 16px; 
    text-decoration: none; 
    cursor: pointer;  
    border: none;  
    background-position: 100%; 
    background-color: $color-gold;
    color: #ecf0f1;
    border-radius: 5px;
    font-family: $font-italic;
    text-shadow: $color-black 0.1em 0.1em 0.2em;
    opacity: 1;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;      
}

.btn:hover {
opacity: .7;
transform: scale(1.05,1.07);
transition-timing-function: ease-out;
transition-duration: 250ms;
-webkit-transform: scale(1.05,1.07);
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 250ms;
-moz-transform: scale(1.05,1.07);
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 250ms;
position: relative;
z-index: 99;
}
.navigation{
    padding: 12px 0; 
    text-shadow: $color-black 0.1em 0.1em 0.2em;
    font-family: $font-bald;
    .brand{
        color:$color-gold;
        margin: 0;
        font-size: 40px;
        font-family: $font-header;
    }
    ul{
        padding: 25px;
        margin: 0;
        list-style-type: none; 
        
        li{
            display: inline-block;
            margin: 0 30px;
            position: relative; 
            
            a{
            text-decoration: none; 
            color: $color-white;
            text-align: center;
            }
     
            ul{
                display: none;
                
                li{
                    display: block;  
                    padding: 5px; 
                    text-align: left;
                }
            }
        }
        
        li:hover ul{
            display: block;
            position: absolute;
            text-align: left;
        }
    }
}
.splash{
    text-align: center;
    color: $color-white;
    height: 80vh;
    position: relative; 
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://i.postimg.cc/qR8m47v9/pexels-el-na-ar-ja-3377405.jpg);
}
.splash-inner{
    margin: 0px;
}
.services{
    text-align: center;
    color: rgba(0, 0, 0, 0.473);
    font-size: 23px;
    i{
        font-size: 40px;
        color: $color-gold;
        margin-top: 75px;
        border-color: $color-gold;
        border-radius: 100%;
        
    }
}
.our-portfolio{
    text-align: center;
    color: rgba(0, 0, 0, 0.473);
    font-size: 23px;
    background: #f5f6fa;
    h5{
        margin-bottom: 0;
    }
    h6{
        margin-top: 0;
    }
    img{
        height: 300px; 
        width: 300px;
        object-fit: cover;

    }
    .card{
        background-color: $color-white;
        max-width: 300px;
        padding: 0;
        margin: 30px;
    }
    .btn-img{
        display: inline-block;
        padding: 16px 25px;  
        font-size: 23px; 
        text-decoration: none; 
        cursor: pointer;  
        border: none;  
        color: $color-black;
        font-family: $font-bald;
        opacity: 1;
        transform: scale(1,1);
        transition-timing-function: ease-out;
        transition-duration: 250ms;
        -webkit-transform: scale(1,1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1,1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;      
    }
    .btn-img:hover {
        opacity: .7;
        transform: scale(1.05,1.07);
        transition-timing-function: ease-out;
        transition-duration: 250ms;
        -webkit-transform: scale(1.05,1.07);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1.05,1.07);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
        position: relative;
        z-index: 99;
        }
}
.footer{
    justify-content: center;
    display: flex;
    li{
    font-size: 0;
    margin: 30px 15px;
    
    .icon{
        text-decoration: none;
        i{
            color: $color-white;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-black;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}
.copy{
    display: flex;
    align-self:center;
}
}
/* Media */

@media (max-width: 767px) {
    .page-title{
        font-size: 50px;
    }
    .our-portfolio{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}